{
  "name": "kiln-theme",
  "displayName": "Kiln Theme",
  "description": "A warm clarity color theme",
  "version": "{{ version }}",
  "publisher": "tobias",
  "engines": { "vscode": "^1.80.0" },
  "categories": ["Themes"],
  "contributes": {
    "themes": [
      {
        "label": "Kiln Dark",
        "uiTheme": "vs-dark",
        "path": "./themes/kiln-dark.json"
      },
      {
        "label": "Kiln Light",
        "uiTheme": "vs",
        "path": "./themes/kiln-light.json"
      }
    ]
  }
}
